<!-- <!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="../js/log1.js"></script>
<link rel="stylesheet" type="text/css" href="../css/reset.css">
</head>
<body>
	
	<div class="wrapper">
		<form class="form-signin">
			<div style="text-align: center;"><h2>Login Forms</h2></div>
			<div style="text-align: center;"><input type="text" class="form-control" name="username" id="username"
				placeholder="Email Address" required="" autofocus="" /> <input
				type="password" class="form-control" name="password" id="password"
				placeholder="Password" required="" /></div>
			<button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Login</button>
			<div class="successdiv"></div>
		</form>
	</div>
</body>
</html> -->